
<% layout('/layouts/boilerplate') %> 
<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add a Campground</a>
</div>
<div class="container">
    <div class="row">
        <% for (let campground of campgrounds) {%>
            <div class="card mb-3 col-4" style="width: 18rem;">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= campground.title %></h5>
                  <p class="card-text text-truncate"><%= campground.description %> </p>
                  <p class="card-text">
                    <small class="text-muted"><%= campground.location %> </small>
                </p>
                <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">View <%= campground.title %> 
                </a>
                </div>
              </div>
        <% } %> 
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a href="#" aria-label="Previous" class="page-link">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item">
                        <a href="#" aria-label="Previous" class="page-link">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>